{%extends "base.html"%}

{%block content%}


  {% if tipo == "reservas" %}
	<section id="main-content">
      <section class="wrapper">
        <form method="post" action="/generar_reporte">
        <h3><i class="fa fa-angle-right"></i> Resultados </h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
              <hr>
              <button type="submit" class="btn btn-round btn-info">Generar reporte</button>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Fecha de Salida</th>
                    <th>Costo</th>
                    <th>Reservante</th>
                    <th>Guia</th>
                    <th>Fecha de Llegada</th>
                  </tr>
                </thead>
                <tbody>
                {% for registro in reporte%}	
                  <tr>
                    <td>{{registro[0]}}</td>
                    <td>{{registro[1]}}</td>
                    <td>{{registro[2]}}</td>
                    <td>{{registro[3]}}</td>
                    <td>{{registro[4]}}</td>
                    <td>{{registro[5]}}</td>
                  </tr>
                 {% endfor %} 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
     </section>
</section>
{% elif tipo == "sitios_turisticos"%}
<section id="main-content">
      <section class="wrapper">
        <form method="post" action="/generar_reporte">
        <h3><i class="fa fa-angle-right"></i> Resultados</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
              <hr>
              <button type="submit" class="btn btn-round btn-info">Generar reporte</button>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>Sitio Turistico</th>
                    <th>Direccion</th>
                    <th>Ciudad</th>
                    <th>Número de visitar</th>
                  </tr>
                </thead>
                <tbody>
                {% for registro in reporte%}  
                  <tr">
                    <td>{{registro[0]}}</td>
                    <td>{{registro[1]}}</td>
                    <td>{{registro[2]}}</td>
                    <td>{{registro[3]}}</td>
                  </tr>
                 {% endfor %} 
                </tbody>
              </table>
            </div>
          </div>
        </div>

        </form>
     </section>
    </section>
     {% elif tipo == "reporte_vuelos_personas"%}
    <section id="main-content">
          <section class="wrapper">
            <form method="post" action="/generar_reporte">
            <h3><i class="fa fa-angle-right"></i> Resultados</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
                  <hr>
                  <button type="submit" class="btn btn-round btn-info">Generar reporte</button>
                  <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Referencia de vuelo</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for registro in reporte%}  
                      <tr">
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                        <td>{{registro[2]}}</td>
                      </tr>
                     {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </form>
         </section>
    </section>
    

   {% elif tipo == "prom_sillas_buses"%}
    <section id="main-content">
          <section class="wrapper">
            <form method="post" action="/generar_reporte">
            <h3><i class="fa fa-angle-right"></i> Resultados</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
                  <hr>
                  <button type="submit" class="btn btn-round btn-info">Generar reporte</button>
                  <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Empresa</th>
                        <th>Promedio de asientos</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for registro in reporte %}  
                      <tr">
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                      </tr>
                     {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            </form>
         </section>
    </section>

{% endif %}
<script type="text/javascript">
  function crearGraficaBarras() {
    var ul = document.getElementById("datos");
    var li1 = document.createElement("li");
    var span1 = document.createElement("span");
    li1.appendChild(span1);

}
</script>
         

<script>

function verReporte() {
  window.location = "/reporte_reserva$" + fecha;
}

</script>>

{%endblock%}