{%extends "base.html"%}

{%block content%}


  {% if tipo == "reservas" %}
	<section id="main-content">
      <section class="wrapper">
        <form method="post" action="/generar_reporte">
        <h3><i class="fa fa-angle-right"></i> Resultados </h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
              <hr>
              <button type="submit" class="btn btn-round btn-info">Generar reporte</button>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Fecha de Salida</th>
                    <th>Costo</th>
                    <th>Reservante</th>
                    <th>Guia</th>
                    <th>Fecha de Llegada</th>
                  </tr>
                </thead>
                <tbody>
                {% for registro in reporte%}	
                  <tr>
                    <td>{{registro[0]}}</td>
                    <td>{{registro[1]}}</td>
                    <td>{{registro[2]}}</td>
                    <td>{{registro[3]}}</td>
                    <td>{{registro[4]}}</td>
                    <td>{{registro[5]}}</td>
                  </tr>
                 {% endfor %} 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
     </section>
</section>
{% elif tipo == "sitios_turisticos"%}
<section id="main-content">
      <section class="wrapper">
        <form method="post" action="/generar_reporte_jasper">
        <h3><i class="fa fa-angle-right"></i> Resultados</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
              <hr>
              <button type="submit" class="btn btn-round btn-info">Generar reporte</button>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>Sitio Turistico</th>
                    <th>Direccion</th>
                    <th>Ciudad</th>
                    <th>Número de visitar</th>
                  </tr>
                </thead>
                <tbody>
                {% for registro in reporte%}  
                  <tr">
                    <td>{{registro[0]}}</td>
                    <td>{{registro[1]}}</td>
                    <td>{{registro[2]}}</td>
                    <td>{{registro[3]}}</td>
                  </tr>
                 {% endfor %} 
                </tbody>
              </table>
            </div>
          </div>
        </div>

        </form>
     </section>
    </section>
     {% elif tipo == "reporte_vuelos_personas"%}
    <section id="main-content">
          <section class="wrapper">
            <form method="post" action="/generar_reporte">
            <h3><i class="fa fa-angle-right"></i> Resultados</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
                  <hr>
                  <button type="submit" class="btn btn-round btn-info">Generar reporte</button>
                  <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Referencia de vuelo</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for registro in reporte%}  
                      <tr">
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                        <td>{{registro[2]}}</td>
                      </tr>
                     {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </form>
         </section>
    </section>
    

   {% elif tipo == "prom_sillas_buses"%}
    <section id="main-content">
          <section class="wrapper">
            <form method="post" action="/generar_reporte">
            <h3><i class="fa fa-angle-right"></i> Resultados</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
                  <hr>
                  <button type="submit" class="btn btn-round btn-info">Generar reporte</button>
                  <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Empresa de buses</th>
                        <th>Promedio de asientos</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for registro in reporte %}  
                      <tr">
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                      </tr>
                     {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            </form>
         </section>
    </section>

{% elif tipo == "hospedantes_hoteles"%}
    <section id="main-content">
          <section class="wrapper">
            <form method="post" action="/generar_reporte">
            <h3><i class="fa fa-angle-right"></i> Resultados</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
                  <hr>
                  <button type="submit" class="btn btn-round btn-info">Generar reporte</button>
                  <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Empresa de hoteles</th>
                        <th>Numero de hospedantes</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for registro in reporte %}  
                      <tr">
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                      </tr>
                     {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            </form>
         </section>
    </section>
    </section>

  {% elif tipo == "asociados_por_reserva"%}
    <section id="main-content">
          <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Resultados</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
                  <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Numero de la reserva</th>
                        <th>Personas con cuenta en LACATULI</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for registro in reporte %}  
                      <tr">
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                      </tr>
                     {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            
         </section>
    </section>
    </section>  

  {% elif tipo == "extension_correo"%}
    <section id="main-content">
          <section class="wrapper">
            <form method="post" action="/generar_reporte">
            <h3><i class="fa fa-angle-right"></i> Resultados</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
                  <hr>
                  <button type="submit" class="btn btn-round btn-info">Generar reporte</button>
                  <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>E-mail</th>
                        <th>Telefono</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for registro in reporte %}  
                      <tr">
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                        <td>{{registro[2]}}</td>
                        <td>{{registro[3]}}</td>
                      </tr>
                     {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            </form>
         </section>
    </section>
    {% elif tipo == "reservas_personas"%}
    <section id="main-content">
          <section class="wrapper">
            <form method="post" action="/generar_reporte_jasper">
            <h3><i class="fa fa-angle-right"></i> Resultados</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
                  <hr>
                  <button type="submit" class="btn btn-round btn-info">Generar reporte</button>
                  <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ID reserva</th>
                        <th>ID del reservante</th>
                        <th>Cantidad de personas en la reserva</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for registro in reporte %}  
                      <tr">
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                        <td>{{registro[2]}}</td>
                      </tr>
                     {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            </form>
         </section>
    </section>
    </section>

    {% elif tipo == "reserva_mas_numerosa_por_anio"%}
    <section id="main-content">
          <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Resultados</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
                  <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Id Reserva</th>
                        <th>Numero de Personas</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for registro in reporte %}  
                      <tr">
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                      </tr>
                     {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            
         </section>
    </section>
    </section>


    {% elif tipo == "n_sitios_turisticos"%}
    <section id="main-content">
          <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Resultados</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> {{titulo}}</h4>
                  <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Id Recorrido</th>
                        <th>Descripcion Recorrido</th>
                        <th>Cantidad de Sitios a Visitar</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for registro in reporte %}  
                      <tr">
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                        <td>{{registro[2]}}</td>

                      </tr>
                     {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            
         </section>
    </section>
    </section>

{% endif %}
         

<script>

function verReporte() {
  window.location = "/reporte_reserva$" + fecha;
}

</script>>

{%endblock%}