{%extends "base.html"%}
  {%block content%}
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"><i class="fa fa-angle-right"></i> Crear Grupo</h4>
              <form class="form-horizontal style-form">

                <div class="form-group">
                  {% for reserva in reservas %}
                  {%if reserva[0] == grupo[0][0]%}
                  <label class="control-label col-md-3">N° Reserva: {{reserva[0]}}</label>
                  {% endif %}
                  {% endfor %}
                  </select>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Personas: </label>
                  <table class="table">
                <thead>
                  <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                </thead>
                <tbody>
                  {% for persona in personas%}
                  <tr>
                    <td>{{persona[0]}}</td>
                    <td>{{persona[1]}}</td>
                    <td>
                      <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>" id = "chk{{persona[0]}}"onclick="agregar_persona('{{persona[0]}}')">
                        <input type="checkbox"/>
                      </div>
                    {% endfor %}
                    </td>
                  </tr>
                </tbody>
              </table>
                </div>
                {% for reserva in reservas %}
                  {%if reserva[0] == grupo[0][0]%}
              <a class="btn btn-primary btn-lg btn-block" onclick="crear_grupo('{{reserva[0]}}');"> Crear </a>
                  {% endif %}
                  {% endfor %}
              </form>
            </div>
          </div>
          <!-- col-lg-12-->
        </div>
        <!-- /row -->
        <script>
        

        function agregar_persona(cedula) {
          dato_personas += cedula + ",";
        }

        function crear_grupo(identificador)
        {
          dato_personas = dato_personas.substring(0, dato_personas.length-1)
          var url = "/crear_grupo" + dato_personas + "$" + identificador;
          window.location.href = url;
        }
        </script>

        <script>
          var dato_personas = "";
        </script>
      
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    
  </section>
  {%endblock%}
