{%extends "base.html"%}

{%block content%}

<section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Listado de personas</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Listado de Personas</h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>E-mail</th>
                    <th>Telefono</th>
                    <th>Activo</th>
                  </tr>
                </thead>
                <tbody>
                {% for persona in personas%}	
                  <tr>
                    <td>{{persona[0]}}</td>
                    <td>{{persona[1]}}</td>
                    <td>{{persona[2]}}</td>
                    <td>{{persona[3]}}</td>
                    <td>
                      {% if persona[4] == '0' %}
                      <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i> " onclick="myFunction('{{persona[0]}}', '{{persona[4]}}')">
                        <input type="checkbox"/>
                      </div>
                      {% else %}
                      <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>" onclick="myFunction('{{persona[0]}}', '{{persona[4]}}')">
                        <input type="checkbox" checked=""/>
                      </div>
                      {% endif %}
                    </td>
                    <td>                      
                      <a href="/editar_persona{{persona[0]}}" class="btn btn-round btn-success">Editar</a>
                    <td>
                  </tr>

                  {% endfor %}

                  <script>
                  function myFunction(cedula, estado) {
                    var url = "/cambiar_estado_persona" + cedula + "$" + estado;
                    window.location.href = url;
                  }
                  </script>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
     </section>
</section>


{%endblock%}

