{%extends "base.html"%}

{%block content%}

<section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Reportes</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Seleccione un reporte</h4>
              <hr>
              <table class="table">
                <tbody>
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {% for message in messages %}
                      
                      <div class="alert alert-success" role="alert">
                          <strong>{{message}}</strong>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                  <!-- PRIMER REPORTE -->
                  <tr>
                    <td>Reservas realizadas en el mes de:</td>
                    <td>
                      <div class="form-group">
                        <label class="control-label col-md-3">Sólo meses:</label>
                        <div class="col-md-3 col-xs-11">
                          <div data-date-minviewmode="months" data-date-viewmode="years" data-date-format="yyyy-mm" data-date="2019-01" class="input-append date dpMonths">
                            <input type="text" readonly=""  size="16" class="form-control" id = "mes">
                            <span class="input-group-btn add-on">
                              <button class="btn btn-theme" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                          </div>
                          <span class="help-block">Seleccione el mes del año que desea consultar.</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <input type="button" onclick="verReporte('reservas');" class="btn btn-round btn-info" value = "Ver reporte">
                    <td>
                  </tr>

                  <!-- SEGUNDO REPORTE -->
                  <tr>
                    <td>Personas con correos con extension de </td>
                    <td>
                      <select id = "cbxCorreos" class="btn btn-default dropdown-toggle">
                        <option value="gmail.com">gmail.com</option>
                        <option value="outlook.com">outlook.com</option>
                        <option value="yahoo.com">yahoo.com</option>
                        <option value="hotmail.com">hotmail.com</option>
                      </select>
                    </td>
                    <td>
                      <input type="button" onclick="verReporte('extension_correo');" class="btn btn-round btn-info" value = "Ver reporte">
                    <td>
                  </tr>

                   <!-- TERCER REPORTE -->
                  <tr>
                    <td>Los 5 Sitios turisticos mas visitados de todos los tiempos</td>
                    <td>
                      
                    </td>
                    <td>
                      <a type="button" href="/reportes_lista$sitios_turisticos$_" class="btn btn-round btn-info">
                        Ver reporte
                      </a>
                    <td>
                  </tr>

                  <!-- CUARTO REPORTE -->
                  <tr>
                    <td>Personas que han viajado en vuelos de 
                      <select id = "cbxVuelos1" class="btn btn-default dropdown-toggle">
                        {% for empresaVuelos in empresasVuelos %}
                        <option value="{{empresaVuelos}}">{{empresaVuelos[0]}}</option>
                        {% endfor %}
                      </select>
                    </td> 

                    <td>    
                        pero no en vuelos de 
                        <select id = "cbxVuelos2" class="btn btn-default dropdown-toggle">
                          {% for empresaVuelos in empresasVuelos %}
                          <option value="{{empresaVuelos}}">{{empresaVuelos[0]}}</option>
                          {% endfor %}
                        </select>
                    </td>
                    <td>
                      <input type="button" onclick="verReporte('reporte_vuelos_personas');" class="btn btn-round btn-info" value = "Ver reporte">
                    <td>
                  </tr>

                  <!-- QUINTO REPORTE -->
                  <tr>
                    <td>Empresas de buses que tiene un promedio de sillas mayor al de la empresa</td>
                    <td>
                      <select id = "cbxBuses" class="btn btn-default dropdown-toggle">
                        {% for empresaBuses in empresasBuses %}
                        <option value="{{empresaBuses}}">{{empresaBuses[0]}}</option>
                        {% endfor %}
                      </select>
                    </td>
                    </td>
                    <td>
                      <input type="button" onclick="verReporte('prom_sillas_buses');" class="btn btn-round btn-info" value = "Ver reporte">
                    <td>
                  </tr>


                  <!--SEXTO REPORTE -->
                  <tr>
                    <td>Hoteles que han tenido el mismo numero de hospendantes que la empresa de hoteles
                    <td>
                      <select id = "cbxHoteles" class="btn btn-default dropdown-toggle">
                        {% for empresaHoteles in empresasHoteles %}
                        <option value="{{empresaHoteles}}">{{empresaHoteles[0]}}</option>
                        {% endfor %}
                      </select>
                    </td>
                    </td>
                    <td>
                      <input type="button" onclick="verReporte('hospedantes_hoteles');" class="btn btn-round btn-info" value = "Ver reporte">
                    <td>
                  </tr>
                  <!-- SEPTIMO REPORTE -->
                  <tr>
                    <td>Cantidad de personas con cuenta en LACATULI por reserva</td>
                    <td>
                    </td> 
                    <td>
                      <a type="button" href="/reportes_lista$asociados_por_reserva$_" class="btn btn-round btn-info">
                        Ver reporte
                      </a>
                    <td>
                  </tr>

                  <!-- OCTAVO REPORTE -->
                  <tr>
                    <td>Reserva(s) con el grupo más numeroso para el año: solo aquellas reservas con 2 personas (o más) con cuenta en LACATULI.com</td>
                    <td>
                      <div class="form-group">
                        <label class="control-label col-md-3">Sólo el año:</label>
                        <div class="col-md-10 col-xs-11">
                          
                            <input type="number" name = "anio"  class="form-control" id = "anio" placeholder="2xxx" min = "2000" max = "2200" >
                          </div>
                          
                        </div>
                    </td>
                    <td>
                      <input type="button" onclick="verReporte('reserva_mas_numerosa_por_anio');" class="btn btn-round btn-info" value = "Ver reporte">
                    </td>
                  </tr>

                  <!-- NOVENO REPORTE -->
                  <tr>
                    <td>Numero de sitios Turisticos a visitar en los recorridos:</td>
                    <td>
                    </td> 
                    <td>
                      <a type="button" href="/reportes_lista$n_sitios_turisticos$_" class="btn btn-round btn-info">
                        Ver reporte
                      </a>
                    <td>
                  </tr>


                  <!--DECIMO REPORTE -->
                  <tr>
                      <td>Listado de las reservas con su respectiva cantidad de viajeros</td>
                      <td>
                        
                      </td>
                      <td>
                        <a type="button" href="/reportes_lista$reservas_personas$_" class="btn btn-round btn-info">
                          Ver reporte
                        </a>
                      <td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


     </section>
</section>

<script type="text/javascript">

function verReporte(tipo) {
    let input = document.getElementById("mes");
    tipo = String(tipo)
    if(tipo == "reservas")
    {
      window.location = "/reportes_lista$" + String(tipo) + "$" + input.value;
    }
    else if(tipo == "reporte_vuelos_personas")
    {
      var cbxVuelos1 = document.getElementById("cbxVuelos1").value;
      var cbxVuelos2 = document.getElementById("cbxVuelos2").value;
      cbxVuelos1 = cbxVuelos1.substring(2, cbxVuelos1.length - 3);
      cbxVuelos2 = cbxVuelos2.substring(2, cbxVuelos2.length - 3);
      window.location = "/reportes_lista$" + String(tipo) + "$" + cbxVuelos1 + "," + cbxVuelos2; 
    }
    else if(tipo == "prom_sillas_buses")
    {
      var cbxBuses = document.getElementById("cbxBuses").value;
      cbxBuses = cbxBuses.substring(2, cbxBuses.length - 3);
      window.location = "/reportes_lista$" + String(tipo) + "$" + cbxBuses; 
    }
    else if(tipo == "hospedantes_hoteles")
    {
      var cbxHoteles = document.getElementById("cbxHoteles").value;
      cbxHoteles = cbxHoteles.substring(2, cbxHoteles.length - 3);
      window.location = "/reportes_lista$" + String(tipo) + "$" + cbxHoteles; 
    }
    else if(tipo == "extension_correo")
    {
      var cbxCorreos = document.getElementById("cbxCorreos").value;
      window.location = "/reportes_lista$" + String(tipo) + "$" + cbxCorreos; 
    }
     else if(tipo == "reserva_mas_numerosa_por_anio")
    {
      var anio = document.getElementById("anio").value;
      window.location = "/reportes_lista$" + String(tipo) + "$" + anio; 
    }
  
    
}

</script>>         


{%endblock%}