{%extends "base.html"%}

{%block content%}

<section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Reportes</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Selecciones un reporte</h4>
              <hr>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Reservas realizadas en el mes de:</td>
                    <td>
                      <a href="/reportesreservas" class="btn btn-round btn-info">Ver reporte</a>
                    <td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
     </section>
</section>
         


{%endblock%}